/***************************
 *   infChat master css
 *     Revision 1
 ***************************/

/* page layout */
body {
    background-color: #113131;
    margin:0;
    font-family: "Franklin Gothic Medium", "Lucida Grande", sans-serif;
}

div#topBar {
    background-color: #e81a1f;
    width: 100%;
    height: 60px;
    border: 0; margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 3px solid black;
}

div#topMenu {
    padding-left: 3px;
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
    color: white;
}

#bodyContainer a:link {
    color: #66ff66;
}

#bodyContainer a:visited {
    color: #66ff66;
}

#topMenu a:link { 
    text-decoration: none;
} 

#topMenu a:visited { 
    text-decoration: none;
}

div#bodyContainer {
    padding-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    color: #aaddbb;
    background-color:#000000;
    padding-bottom: 5px;
}

img#logo {
    float: right;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 14px;
    margin-top: 8px;
}

div#footer{
    border-top: 1px solid black;
    margin: 3px 4px 10px 4px;
    padding-top: 0px;
    display: block;
    position: relative;
}

/* define main chat area and subelements */
table#msgBoard {
    border: 1px solid #aaddbb;
    position: relative;
    display: block;
    margin: 10px 5% 10px 5%;
    min-height: 40em;
}

td.userName {
    font-style: italic;
    background-color: #444141; 
    min-width: 5em;
}

td.userMsg {
    padding-left: 4px;
    border-left: 1px solid #aaddbb;
    border-bottom: 1px solid #aaddbb;
    width: 100%;

}

/* define user submit area */
div#inputArea {
    margin: 10px 5% 10px 5%;
    border: 1px solid #e81a1f;
}

form#inputForm {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

input#usrMsgField {
    position: relative;
    min-width: 60%;
}

input#usrMsgSubmit {
    position: relative;

}

/* user text-styles */
span.plain {

}
span.slantybold {}
span.blinkingNuisance{}
span.goldenYellow {}

/* for sysops */
span.op {}

/* static text style */
h1#titleHeader{
    text-align: left;
    padding-right: 4px;
    color: #ffedad;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 2em;
  text-shadow: #FC0 4px 0 10px;
}

p.footerText{
    font-style: italic;
    font-size: 0.7em;
    text-align: center;
    color: #FFFFFF;
}
